.testimonial{

  padding: 2em 0;
  color: #fff;
  

  header > h4{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #333;
  }

  .slider-container{
    color: '#fff';
  }

  .feedback-wrapper{
    display: none !important;
    margin: 0 1em;
  }

  .feedback-top{
    border: 1px solid #bebebe;
    position: relative;
  }

  .feedback-top::after{
    content: ' ';
    position: absolute;
    top: 100%;
    left: 10%;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(43, 43, 43);
    border-right: 4px solid transparent;
    border-left: 12px solid transparent;
  }

  .feedback-top > p{
    color: #333;
    font-size: 0.925em;
    margin: 0;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 2em;
  }

  .feedback-img > img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .feedback-grids{
    margin-top: 2em;
  }

  .feedback-info {
    float: left;
    width: 65%;
    margin: 1.5em 0 0 1em;
  }
  
  .feedback-info h5 {
    color: #333;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 800;
  }
  
  .feedback-info p {
    color: #6f6b6b;
    font-size: .9em;
    margin-top: .5em;
  }

  @media screen and (max-width: 768px){
    header > h4{
      font-size: 38px;
    }
  }

  @media screen and (max-width: 480px){
    header > h4{
      font-size: 32px;
    }
  }
}